/*.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000;
}*/ /* above all content */



body {
    font-family: 'Karla-Regular', Arial, sans-serif;
    font-size: 16px;
    color: #2d2d2d;
    margin: 0;
}


/*nav*/

nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav img {
    display: flex;
    align-content: center;
    max-height: 40px;
    margin: 15px 30px;
}

nav ul {
    margin: 0px 30px; 
    display: flex;
    align-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
}

nav li {
    padding-left: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #b64036;
}


/*header*/

header {
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('images/kayak-bkgd.jpg') fixed;
    background-size: 120%;
    color: white;
    background-attachment: scroll;
    background-position: 20% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header-contents {
    padding: 50px 0 10px 0;
    background-position: center;
}

.header-text {
    max-width: 1000px;
    margin: 0 auto;
}

.header-text h1 {
    font-family: 'Pacifico', Arial, sans-serif;
    color: white;
    font-size: 9em;
    margin: 0;
    padding: 0 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
}

.header-text h2{
    font-family: 'Pacifico', Arial, sans-serif;
    font-size: 3.5em;
    margin: 20px 0 40px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
}

.header-text h3{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.5em;
    margin: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);
}

.header-contents p{
    display: inline-block;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0.6);
    padding: 6px 12px;
}

.header-button a {
    display: inline-block;
    margin-top: 30px;
    background-color: #e2574c;
    color:white;
    padding: 15px 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 25px;
    text-decoration: none;

}

.header-button a:hover {
    background-color: #b64036;
}


/*sections general*/

section {
    margin: 0 30px;
}

article h2 {
    font-family: 'Pacifico', Arial, sans-serif;
    color: #646464;
    font-size: 3em;
    margin: 0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

p {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
}


/*about*/

.about-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
}

 .about-images img {
     height: 200px;
     width: 32%;
     max-width: 350px;
 }



/*rentals*/

article aside {

    width: 49.8%;
    display: inline-block;
    background-color: pink;
}

aside p {
    text-align: left;
}


/*location*/

/*footer*/

footer {
    background-color: #242424;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 260px;
    align-items: center;

}

footer section {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 55%;
    margin: 0px 30px;
}

footer p {
    text-align: left;
    line-height: 1.4;
}

.contact-info {
    justify-content: space-around;
}

.contact-address {
    color: #969696;
}


footer ul{
    margin: 0;
    list-style-type: none;
    padding-right: 60px;

}

footer ul a{
    color: white;
    text-decoration: none;
    line-height: 1.4;
}

footer ul a:hover{
    color: pink;
}

footer li {
    padding-bottom: 5px;
}

footer i {
    width: 25px;
}


@media all and (min-width: 500px) and (max-width: 960px) {
   body {
      color: red;
   }
}